h1 {
  text-align: center;
  color: #333;
}

.container {
  display: flex;
  flex-flow: row wrap;
}

.skill-box {
  background-color: #fff;
  border-radius: 8px;

  height: 320px;
  width: 50px;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;

  transition: 0.5s;

  box-shadow: 1px 1px 1px;

  opacity: 0;

}

.skill-box-animation{
  opacity: 1;
}


.skill-title {
  font-weight: 600;
}

.skill-description {
  font-weight: 400;
  margin: 1em;
}

.skill-img-box {
  position: relative;
  width: 100px;
  min-height: 100px;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;

  animation: fadeIn 2s ease 0s 1 normal;
}

.skill-box:hover {
  box-shadow: 5px 5px 5px;
}

.skill-img {
  position: absolute;
  display: block;
  margin: auto;
  max-height: 100px;
  width: 100px;
  bottom: 0;

}



body {
  background-color: #6ac5ac;
}

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}


@media screen and (min-width: 1000px){
  .skill-box-resp
  {
    width: 22%;
  }
}

@media screen and (min-width: 730px) and (max-width: 999px){
  .skill-box-resp
  {
    width: 28%;
  }
}

@media screen and (max-width: 729px){
  .skill-box-resp
  {
    width: 45%;
    height: 200px;
  }

  .skill-description {
    display: none;
  }
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
