h1 {
  text-align: center;
  color: #333;
}

.container {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;

  box-pack:justify;
  -webkit-box-pack:justify;
  -moz-box-pack:justify;

  flex-flow: row wrap;
}

.skill-box {
  background-color: #fff;

  //float: left;
  border-radius: 8px;

  height: 320px;
  width: 50px;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;

  transition: 0.5s;

  box-shadow: 3px 3px 3px;

}

.skill-title {
  font-weight: 600;
}

.skill-description {
  font-weight: 400;
  margin: 1em;
}

.skill-img-box {
  position: relative;
  width: 100px;
  min-height: 100px;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.skill-img {
  position: absolute;
  display: block;
  margin: auto;
  max-height: 100px;
  width: 100px;
  bottom: 0;
}



body {
  background-color: #6ac5ac;
}

* {
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1000px){
  .skill-box-resp
  {
    width: 22%;
  }
}

@media screen and (min-width: 730px) and (max-width: 999px){
  .skill-box-resp
  {
    width: 28%;
  }
}

@media screen and (max-width: 729px){
  .skill-box-resp
  {
    width: 45%;
    height: 370px;
  }
}
